* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  font-family: 'Poppins', sans-serif;

}

.outerDiv{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background: #e5e5e5  ; */
}

.mainDiv{
  height: 60%;
  width: 30%;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.innerDiv{
  height: 80%;
  width: 75%;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  pointer-events: none;
}

.dragImage{
  background: #f6f8fb;
  height: 70%;
  width: 100%;
  margin-top: 20px;
  border: 1px dashed #97bef4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.mainDivsmall{
  height: 30%;
  width: 30%;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:15px
}